html {
  width: auto!important;
  overflow-x: hidden!important;
}
body {
  background-color: #98ccd3;
  margin: 0 auto;
  width: auto!important;
  overflow-x: hidden!important;
  background-position: top left;
}

h1 {
  color: #132238;
  font-family: 'Great Vibes', cursive;
  font-size: 5rem;
}

h2 {
  color: #132238;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

h3 {
  color: #132238;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  margin-top: 30px;
}

hr {
  border-style: dotted none none none;
  border-color: #ebf0f6;
  border-width: 5px;
  margin: 50px auto 50px;
  width: 15%;
}

p {
  color: #2f425d;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  line-height: 1.5;
}

.top-container {
  margin: 0 auto;
  padding: 100px 0 0 0;
  background-color: #ebf0f6;
  font-family: 'Open Sans', sans-serif;
}

.cloud1 {
  display: block;
  margin: 0 0 0 25%;
}

.hello{
  display: block;
  margin: 50px auto 0;
  width: 80%;
  text-align: center;
}

.cloud2 {
  display: block;
  margin: 0 0 0 70%;
}

.center {
  display: block;
  margin: 30px auto 0 auto;
  width: 80vw;
  text-align: center;
}

.middle-container {
  background-color: #98ccd3;
  padding-top: 120px;
}

.profile {
  display: block;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.profile-img {
  border-radius: 100%;
  width: 15vw;
}

.intro {
  width: 80%;
  margin: 25px auto 75px;
}

.skill1 {
  margin: 0 auto;
  width: 80%;
  padding-top: 30px;
  text-align: left;
}

.skill-p {
  padding-top: 50px;
}
.passion {
  display: block;
  margin: 0px auto 75px;
  text-align: center;
}

.skill-img {
  border-radius: 100%;
  float: left;
  margin-right: 40px;
  margin-bottom: 20px;
  width: 15vw;
}

.skill2 {
  margin: 0 auto;
  width: 80%;
  padding-top: 75px;
  text-align: left;
}

.skill-img2 {
  border-radius: 100%;
  float: right;
  margin-left: 40px;
  margin-bottom: 20px;
  width: 15vw;
}

.join-me {
  padding-top: 50px;
  padding-bottom: 75px;
}

.contact-me {
  background-color: #98ccd3;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 75px;
  text-align: center;
  width: 80%;
}

.outro {
  padding: 0 0 30px 0;
}

.butn {
  background: #364e68;
  background-image: -webkit-linear-gradient(top, #364e68, #132238);
  background-image: -moz-linear-gradient(top, #364e68, #132238);
  background-image: -ms-linear-gradient(top, #364e68, #132238);
  background-image: -o-linear-gradient(top, #364e68, #132238);
  background-image: linear-gradient(to bottom, #364e68, #132238);
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: 'Open Sans', sans-serif;
  color: #ebf0f6;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #132238;
  background-image: -webkit-linear-gradient(top, #132238, #364e68);
  background-image: -moz-linear-gradient(top, #132238, #364e68);
  background-image: -ms-linear-gradient(top, #132238, #364e68);
  background-image: -o-linear-gradient(top, #132238, #364e68);
  background-image: linear-gradient(to bottom, #132238, #364e68);
  text-decoration: none;
}

.bottom-container {
  background-color: #364e68;
  margin: auto;
  padding: 30px 0 10px;
  text-align: center;
}

.footer-link {
  color: #ebf0f6;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin: 20px;
  text-decoration: none;
}

.footer-link:hover {
  color: #98ccd3;
}

.copyright {
  color: #ceddef;
  font-size: 0.75rem;
  padding: 20px 0 20px;
}
.blog {
  display: block;
  margin: 0 auto;
  width: 80%;
  text-align: left;
}
.post-img {
  width: 80vw;
}
.code-block {
  line-height: 100px;
  font-size: 20px;
  color: #ebf0f6;
  border-radius: 25px;
  background: #2f425d;
  padding: 0 0 0 20px;
  width: 79vw;
  height: 100px;
}

/*navbar*/
.navbar {
  font-size: 18px;
  padding-bottom: 10px;
  background-color: #inherit;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
  .logo {
    text-decoration: none;
    color: #132238;
  }

  .main-nav li {
    text-align: center;
    margin: 15px auto;
  }

  .logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
  }

  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: #132238;
    font-size: 24px;
  }

  .active {
    display: block;
  }

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: #fff;
  }
}
